{% extends 'admin/adminbase.html' %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
      <div class="row">
        {% include 'admin/adminincludes/admindashboard.html' %}
  <main class="col-md-9">
    <main class="col-md-9">
      <header class="mb-4"><h4 class="card-title">Add Product</h4></header>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          {{productform.as_p}}
            {% comment %} <div class="form-row">
                <div class="col form-group">
                    <label>Product Name</label>
                      <input type="text" class="form-control" name="prodname" placeholder="Enter Product name" required>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label>Product Price </label>
                      <input type="number" class="form-control" name="prodprice" placeholder="Enter Product price" required>
                </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->
            <div class="form-row">
                <div class="col form-group">
                    <label>Stock</label>
                      <input type="number" class="form-control" name="stock" placeholder="Enter Stock" required>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                  
                  <label for="cat">Category</label>
                  
                  <select class="form-control" id="cat" name="cars">
                    {% for a in link  %}
                      <option value="{{a.category_name}}">{{a.category_name}}</option>
                      
                      {% endfor %}
                    </select>
                    
                    
              </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->
            
             {% endcomment %}
           
           
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Submit </button>
            </div> <!-- form-group// -->      
                
        </form>
      
              
             
    </main>
  </main>
  </div> <!-- row.// -->
  </div>
  
  
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
  


{% endblock %}
