{% extends 'admin/adminbase.html' %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
      <div class="row">
        <aside class="col-md-3">
          <!--   SIDEBAR   -->
          <ul class="list-group">
            <a class="list-group-item" href="{% url 'admin_home' %}"> Dashboard </a>
            <a class="list-group-item " href="{% url 'admin_user' %}">User Management </a>
            <a class="list-group-item active" href="{% url 'admin_category' %}">Category Management</a>
            <a class="list-group-item" href="{% url 'admin_product' %}">Product Management</a>
            <a class="list-group-item" href="{% url 'admin_order' %}">Order Management </a>
          </ul>
          <br />
          <a class="btn btn-light btn-block" href="#">
            <i class="fa fa-power-off"></i> <span class="text">Log out</span>
          </a>
          <!--   SIDEBAR .//END   -->
        </aside>
  <main class="col-md-9">
    <header class="mb-4"><h4 class="card-title">Edit Category</h4></header>
    <form action="" method="POST">
        {% csrf_token %}
            <div class="form-row">
                <div class="col form-group">
                    <label>Category Name</label>
                      <input type="text" class="form-control" name="catname" placeholder="Enter Category name" required>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label>Category Description </label>
                      <input type="text" class="form-control" name="catdesc" placeholder="Enter Category description" required>
                </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->
            
           
           
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Submit </button>
            </div> <!-- form-group// -->      
                
        </form>
    
            
           
  </main>
  </div> <!-- row.// -->
  </div>
  
  
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
  


{% endblock %}
