{% extends 'admin/adminbase.html' %}


{% block content %}

<script>
  function block(id){
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, block the user'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href="block/"+id+"/"
      }
    })
  }
  function unblock(id){
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, unblock the user'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href="unblock/"+id+"/"
      }
    })
  }
</script>
<!-- ========================= SECTION CONTENT ========================= -->

<section class="section-conten padding-y bg">
  <div class="container">
    <div class="row">
      {% include 'admin/adminincludes/admindashboard.html' %}
     
    {% for m in messages %}
    
      
    <script>
    
      Swal.fire(
        'Done!',
        '{{m}}',
        'success'
      )
      
    </script>
   
    {% endfor %}

      
        <main class="my-2 col-md-9">
          <div class="row">
            <div class="">
              <form action="" class="search" method="POST">
                {% csrf_token %}
                <div class="input-group w-100">
                    <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword">
                    
                    <div class="input-group-append">
                      <button class="btn btn-primary btn-sm" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
              </form> <!-- search-wrap .end// -->
            </div>
          </div>
          

          <div class="row">
            <div class="col md-6 col-lg-12">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone number</th>
              </tr>
            </thead>
            <tbody>
         
          {% for user in users %}
          <tr>
                    
            <th scope="row">{{forloop.counter}}</th>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone_number}}</td>
            {% if user.is_active  %}
            
            <td><a href="#" onclick="block({{user.id}})" ><button  type="button" class="btn btn-danger btn-sm" style="width:80px;"></i>Block<i class="fa-solid fa-ban"></button></a></td>
           
            {% else %}
            <td><a href="#" onclick="unblock({{user.id}})"><button type="button" class="btn btn-success btn-sm d-flex" style="width:80px;">Unblock<i class="fa fa-unlock" aria-hidden="true"></i></button></a></td>
             
          </tr>
            {% endif %}
          
          {% endfor %}
          
          
              </tbody>
              </table>
            </div>
            </div>
           


              <nav class="mt-4" aria-label="Page navigation sample">
                {% if users.has_other_pages %}
              <ul class="pagination pagination-sm">
                {% if users.has_previous %}
                <li class="page-item "><a class="page-link" href="?page={{users.previous_page_number}}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
        
                {% for i in users.paginator.page_range %}
                {% if user.number == i  %}
                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}
        
                {% if users.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{users.next_page_number}}">Next</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
              </ul>
                {% endif %}
            </nav>
            
        </main>
    </div> <!-- row.// -->
   
    </div>
    
   
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    
 
{% endblock %}