{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
{% comment %} <div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/1.jpg' %}" class="img-fluid rounded">
</div>

</div> <!-- container //  --> {% endcomment %}



<section class="section-intro padding-y-sm">
	<div class="container">


		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img class="d-block " style="width: 100%;height: 450px;" src="{% static 'images/3.jpg' %}" alt="First slide">
				<div class="carousel-caption d-none d-md-block">
					<h5 class="h1 text-left">DigiKart</h5>
					<p class="text-left">Best offers for laptops and mobiles</p>
				  </div>
			  </div>
			  {% for offer in offers  %}
			  <div class="carousel-item">
				<img class="d-block " style="width: 100%;height: 450px;" src="{{offer.offer_image.url}}" alt="Second slide">
				<div class="carousel-caption d-none d-md-block">
					<h5 class="h1 text-left">{{offer.offer_name}}</h5>
					<p class="text-left">{{offer.offer_description}}</p>
				  </div>
			  </div>
			  {% endfor %}
			  {% comment %} <div class="carousel-item">
				<img class="d-block " style="width: 100%;height: 450px;" src="{% static 'images/4.jpg' %}" alt="Third slide">
			  </div>
			</div> {% endcomment %}
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>

	




	
	
	
	</div> <!-- container //  --> 












</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
	
</header><!-- sect-heading -->

	
<div class="row">
	{% for products in products %}
	<div class="col-md-3">
		
		
		<div class="card card-product-grid">
			<a href="{{products.get_url}}" class="img-wrap"> <img src="{{products.images.url}}"> </a>
			<figcaption class="info-wrap" style="height: 5rem;">
				
				<a href="{{products.get_url}}" class="title">{{products.product_name}}</a>
				

				{% if products.discount_price %}
				
				
				<div class="price mt-1 h5 text-success">{{products.offer_rate}}%</div> <!-- price-wrap.// -->
				<div class="price mt-1 d-flex">
					<p><del>Rs {{products.price}}</del> </p>
					<p class="mx-1 text-primary">Rs{{products.discount_price}}</p>
				</div> <!-- price-wrap.// -->
				

				
				{% else %}
				<div class="price mt-1">Rs{{products.price}}</div> <!-- price-wrap.// -->
				{% endif %}
				
				



			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->

</section>
<!-- ========================= SECTION  END// ========================= -->






{% endblock  %}

