{% extends 'base.html' %}
{% load static %} {% block content %}
<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
   
    <div class="row">
      <aside class="col-lg-6">
        <div class="card">
          <div class="card-body">
                <h4 class="card-title mb-4">Shipping address</h4>
                <a href="{% url 'adduser_address'%}" class="btn btn-success">Add Address</a>
                <form action="{% url 'place_order' %}" method="POST">
                  
                  {% csrf_token %}
                  {% if not address_user %}

              <!-- card.// -->
              {% else %}

              <div class="p-3 d-flex justify-content-center">
                {% for address in address_user %}
                <div class="card mr-4" style="width: 15rem;min-width:">
                    <div class="card-body">
                        {% if address.default %}
                        <strong class="d-inline-block mr-3 text-primary">Default Address</strong>
                        {% else %}
                        {% comment %} <strong class="d-inline-block mr-3">Other Address</strong> {% endcomment %}
                        {% endif %}
                          <p class="card-tex mb-0">{{address}}</p>
                          <p class="card-tex mb-0">{{address.address_line_1}}</p>
                          <p class="card-text mb-0">{{address.address_line_2}}</p>
                          <p class="card-text mb-0">{{address.city}}</p>
                          <p class="card-text mb-0">{{address.state}}</p>
                          <p class="card-text mb-0">{{address.pincode}}</p>
                          <p class="card-text mb-0">{{address.email}}</p>
                          <p class="card-text mb-0">{{address.phone_number}}</p>
                          <br>
                          <input type="radio" id="address" name="address" value="{{address.id}}">
                            <label for="address"><strong>Deliver to this address</strong></label><br>
                            <div class="text-center">
                              <a href="{% url 'edit_address' address.id %}" class="btn btn-primary">Edit</a>
                            </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
              </div> 

          </div> <!-- card-body .// -->
      </aside>
      <!-- col.// -->
      <aside class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                  <tr class="small text-uppercase">
                    <th scope="col">Product</th>
                    <th scope="col" width="120">Quantity</th>
                    <th scope="col" width="120">Price</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for cart_item in cart_items  %}
                  <tr>
                    <td>
                      <figure class="itemside align-items-center">
                        <div class="aside">
                          <img src="{{cart_item.product.images.url}}" class="img-sm" />
                        </div>
                        <figcaption class="info">
                          <a href="{{cart_item.product.get_url}}" class="title text-dark"
                            >{{cart_item.product.product_name}}</a
                          >
                          <p class="text-muted small">
                            
                            {% if cart_item.variations.all %}
                            {% for item in cart_item.variations.all  %}
                            {{item.variation_category|capfirst}}:{{item.variation_value|capfirst}}<br>
                            
                            {% endfor %}
                            
                            {% endif %}
                          </p>
                        </figcaption>
                      </figure>
                    </td>
                    <td>
                      <!-- col.// -->
                     <label for="">{{cart_item.quantity}}</label>
                      <!-- col.// -->
                    </td>
                    <td>
                      <div class="price-wrap">
                        {% if cart_item.product.discount_price %}
                        <var class="price">Rs {{cart_item.sub_total_discount}}</var>
                        <small class="text-muted"> Rs {{cart_item.product.discount_price}} each </small>
                        {% else %}
                        <var class="price">Rs {{cart_item.sub_total}}</var>
                        <small class="text-muted"> Rs {{cart_item.product.price}} each </small>

                        {% endif %}
                        
                      </div>
                      <!-- price-wrap .// -->
                    </td>
                   
                  </tr>
                  
                  {% endfor %}
                </tbody>
              </table>
            
            <button class="btn btn-primary btn-block" type="submit" name="submit">
              Place Order
            </button>
            <a href="{% url 'store' %}" class="btn btn-light btn-block"
              >Continue Shopping</a
            >
          </form>
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->
    
    <!-- ============================ COMPONENT 1 END .// ================================= -->
  </div>
  <!-- container .//  -->
</section>
{% endblock %}