{% extends 'base.html' %}
{% load static %} {% block content %}
<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
   <h4 class="text-center mb-10">Review Your Order and Make Payment</h4>
    <div class="row">
      <aside class="col-lg-8">
        <div class="card">
            <h5 class="card-header">Billing Address</h5>
            <div class="card-body">
              <p class="card-text mb-0">{{order.full_name}}</p>
              <p class="card-text mb-0">{{order.full_address}}</p>
              <p class="card-text mb-0">{{order.city}},{{order.state}}</p>
              <p class="card-text mb-0">{{order.pincode}}</p>
              <p class="card-text mb-0"><b>Contact:</b></p>
              <p class="card-text mb-0">{{order.email}}</p>
              <p class="card-text mb-0">{{order.phone}}</p>
            </div>
          </div>
          <div class="card">
            <h5 class="card-header">Payment Method</h5>
            <div class="card-body">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
          <div class="card">
            <h5 class="card-header">Review Products</h5>
            <div class="card-body">
                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                      <tr class="small text-uppercase">
                        <th scope="col">Product</th>
                        <th scope="col" width="120">Quantity</th>
                        <th scope="col" width="120">Price</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for cart_item in cart_items  %}
                      <tr>
                        <td>
                          <figure class="itemside align-items-center">
                            <div class="aside">
                              <img src="{{cart_item.product.images.url}}" class="img-sm" />
                            </div>
                            <figcaption class="info">
                              <a href="{{cart_item.product.get_url}}" class="title text-dark"
                                >{{cart_item.product.product_name}}</a
                              >
                              <p class="text-muted small">
                                
                                {% if cart_item.variations.all %}
                                {% for item in cart_item.variations.all  %}
                                {{item.variation_category|capfirst}}:{{item.variation_value|capfirst}}<br>
                                
                                {% endfor %}
                                
                                {% endif %}
                              </p>
                            </figcaption>
                          </figure>
                        </td>
                        <td>
                          <!-- col.// -->
                         <label for="">{{cart_item.quantity}}</label>
                          <!-- col.// -->
                        </td>
                        <td>
                          <div class="price-wrap">
                            {% if cart_item.product.discount_price %}
                            <var class="price">Rs {{cart_item.sub_total_discount}}</var>
                            <small class="text-muted"> Rs {{cart_item.product.discount_price}} each </small>
                            {% else %}
                            <var class="price">Rs {{cart_item.sub_total}}</var>
                           <small class="text-muted"> Rs {{cart_item.product.price}} each </small>

                            {% endif %}
                          </div>
                          <!-- price-wrap .// -->
                        </td>
                       
                      </tr>
                      
                      {% endfor %}
                    </tbody>
                  </table>
                
            </div>
          </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <aside class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">Rs  {{total}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Tax:</dt>
              <dd class="text-right">Rs {{tax}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Grand Total:</dt>
              <dd class="text-right text-dark b"><strong>Rs {{grand_total}}</strong></dd>
            </dl>
            <hr />
            <p class="text-center mb-3">
              <img src="{% static './images/misc/payments.png' %}" height="26" />
            </p>
             <a href="{% url 'cod' %}" class="btn btn-dark btn-block mb-3">
              Cash On Delivery
            </a> 
            
            <form action="{% url 'payments_razorpay' %}" method="POST">
              
                <script
                src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="{{razorpay_merchant_key}}"
                data-amount="{{ grand_total }}"
                data-currency="INR"
                data-order_id="{{ razorpay_order_id }}"
                data-buttontext="Pay with RazorPay"
                data-name="Product"
                data-description="product"
                data-image=""
                data-prefill.name="{{ order.full_name }}"
                data-prefill.email="{{user.email}}"
                data-theme.color="#3399cc"
              ></script>
              <input type="hidden" custom="Hidden Element" name="hidden"> 
             
            </form>
          

            <div id="paypal-button-container">

            </div>
            
            
          
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->
    
    <!-- ============================ COMPONENT 1 END .// ================================= -->
  </div>
  <!-- container .//  -->
</section>

<!-- paypal script -->
<script src="https://www.paypal.com/sdk/js?client-id=AbO6tt8Ug15VlOMv2cbyrfkd997AWNGDFNYXaT7QWZnAfXkqHjbpCoRzgWFQ7FwDE2SM3v75Q8taOT_3"></script>


<!-- RAZOR PAY -->

<script>
  var element = document.querySelector('.razorpay-payment-button');
  element.className += ' btn btn-primary btn-block lg mb-3';
</script>

<script>
  //Render teh Papypal button
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}




  var amount="{{grand_total}}"
  var usd=(amount/73.085).toFixed(2)
  var url="{% url 'payments_paypal' %}"
  var csrftoken = getCookie('csrftoken');
  var orderID="{{order.order_number}}"
  var payment_method="PayPal"
  var redirect_url="{% url 'order_complete' %}"
  
  paypal.Buttons({
    // Sets up the transaction when a payment button is clicked
   createOrder:function(data,actions){
    return actions.order.create({
      purchase_units:[{
        amount:{
          value:usd,
        }
      }]
    });
   },

   //Finalise the transaction
   onApprove:function(data,actions){
    return actions.order.capture().then(function(details){
      //Show a success message to the buyer
      console.log(details);
      sendData();
      console.log(body);
      function sendData(){
        fetch(url,{
          method:'POST',
          headers:{
            'Content-Type':'application/json',
            'X-CSRFToken':csrftoken,
          },
          body:JSON.stringify({
            orderID:orderID,
            transID:details.id,
            payment_method:payment_method,
            status:details.status,

          }),
        })
        .then((response) => response.json())
        .then((data) => {
          window.location.href=redirect_url+"?order_number="+data.order_number+"&payment_id="+data.transID;
        });

      }
    });
   }
        
    
  }).render('#paypal-button-container');
</script>

{% endblock %}
